@import url('https://fonts.googleapis.com/css2?family=Urbanist:ital,wght@0,100..900;1,100..900&display=swap');
@import "tailwindcss";
 @plugin "daisyui" {
   themes: light --default;
 }
 @import "tailwindcss";
@plugin "daisyui";
@plugin "daisyui/theme" {
  name: "light";
  default: true;
  --color-secondary: #000927;
  --color-primary: #F94C10;
  --color-primary-content: #16425B;
}

body{
  font-family: "Urbanist", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
  background-color: #F4F4F4;
}

a.active{
  @apply border-b-2 text-primary border-primary 
}
.my-button{
  @apply cursor-pointer bg-primary text-white rounded-lg border font-semibold text-sm py-3 px-6 hover:bg-white hover:text-primary transition duration-800
}
